/* css styles */

.navbar-brand img {
  max-height: 50px; /* Ajusta el tamaño */
  margin-right: 10px; /* Espaciado si es necesario */
}

.pdf-embed {
  position: relative;
  padding-bottom: 75%;   /* tweak aspect ratio if you like */
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.pdf-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
